<div class="row">
    <div class="login-form medium-6 large-4 medium-centered columns">
        <form name="myForm" novalidate>
            <div class="row">
                <div class="large-12 columns">
                    <input data-ng-model="loginForm.username" type="text"
                           name="username" placeholder="Username" required />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input data-ng-model="loginForm.password" type="password"
                           name="password" placeholder="Password" required />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="submit" class="login-form__submit button expand" value="Log In"
                           data-ng-click="loginForm.login()"
                           data-ng-disabled="myForm.$invalid"/>
                </div>
            </div>
        </form>
    </div>
</div>